@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
}


html, body {
    min-width: 100vh;
    background-color: #eed8ae ;

}

header {
    background-color: rgb(83, 63, 32);
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;

}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: #eed8ae;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;    
}

section.normal {
    background-color: #ffffff;
    color: #000000;
}

section.imagem {
    background-color: rgb(83, 63, 32);
    color: #ffffff;
}

section.imagem >p {
    width: 400px;
    background-color: rgba(83, 63, 32, 0.384);
}

footer {
    background-color:  rgb(83, 63, 32);
    color: #ffffff; 
    text-align: center;
    padding: 10px;    
}